<a href="https://colab.research.google.com/github/Yoginkhair/python-learnings-/blob/main/basic_error_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Error handling in Python

In [29]:
try:
  "Hello World!"
except SyntaxError:
  print("Syntax Error")

In [25]:
try:
  2 + "Hello"
except TypeError:
  print("You cannot add integer and string")

You cannot add integer and string

In [24]:
try:
  name
except NameError:
  print("Value not defined")

Value not defined

In [16]:
list_sample = [1, 2, 3]
try:
  list_sample[3]
except IndexError:
  print("no element found")

no element found

In [23]:
d1 = {'k1':'v1'}
try:
  d1 ['k2']
except KeyError:
  print("Key not found")

Key not found

In [11]:
int(2.3)

2

In [12]:
int(9.8)

9

In [18]:
try:
  int("Hello")
except ValueError:
  print("You cannot convert string to int")

You cannot convert string to int

# Example :

In [19]:
try:
  x = 10/0
  print(x)
except ZeroDivisionError :
  print("You cannot divide by zero")

You cannot divide by zero

In [15]:
# try except

try:
  result = 10/0

except ZeroDivisionError :
  print("You cannot divide by zero")

You cannot divide by zero

In [32]:
try:
  int("Hello")
except ValueError:
  print("You cannot convert string to int")
  y = 2 + 3
  print(y)

You cannot convert string to int
5