<a href="https://colab.research.google.com/github/Yoginkhair/python-learnings-/blob/main/basics_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a Dictionary

In [ ]:
# List = []
# Dict = {}

In [ ]:
student = {"Name":"Arhan","Age":"19","Gender":"Male","Class":"12"}
#  key-value pairs - 4
#  key & value are linked using :
print(student)

# Accessing Values
student ["Name"]

# Looping through a Dictionary
for key in student:
    print(key)

for value in student.values():
    print(value)

for key, value in student.items():
    print(key,":",value)

{'Name': 'Arhan', 'Age': '19', 'Gender': 'Male', 'Class': '12'}
Name
Age
Gender
Class
Arhan
19
Male
12
Name : Arhan
Age : 19
Gender : Male
Class : 12

In [ ]:
# Dictionary creation using two lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]
new_dict = {k:v for k,v in zip(keys,values)}
# print(new_dict)

for k,v in new_dict.items():
    print(k,v)

a 1
b 2
c 3

In [1]:
# prompt: teach me how to create a dictionary using one list

my_list = ['apple', 'banana', 'cherry', 'date']

# Create a dictionary where the list elements are keys and their indices are values
my_dict = {element: index for index, element in enumerate(my_list)}

my_dict

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}