<a href="https://colab.research.google.com/github/Yoginkhair/python-learnings-/blob/main/tuples%26sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list -> [,]
# dict -> {key:value,}
# tuple -> (,)
# sets -> {,}

In [1]:
# CREATING A TUPLE
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [2]:
# ACCESSING TUPLE ELEMENTS
my_tuple2 = (1,2,3)
my_tuple2 [2]

3

In [13]:
# Tuple Operations
tp1 = (1,2,3)
tp2 = ("a","b","c")

print(tp1 + tp2)
print(tp1 * 2)

tp3 = (1,)
print(tp3 * 10)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 1, 2, 3)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [15]:
#  Tuple Unpacking
tp1 = (1,2,3)
a = 1
b = 2
c = 3

a,b,c = (10,20,30)
print(a)

10

In [ ]:
# List vs Tuple
# list - mutable (add, remove, change)
# Tuple - immutable (cannot add, cannot remove, cannot change)

# list - memory high
# tuple - low memory

# Sets

In [17]:
ls1 = [1,1,2]
# unique value in a list
print(set(ls1))

{1, 2}

In [23]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

# Set operation

print("unions of set : ",s1.union(s2))
print("intersection of set : ",s1.intersection(s2))
print("difference of set 1 : ",s1.difference(s2))
print("difference of set 2 : ",s2.difference(s1))

unions of set :  {1, 2, 3, 4}
intersection of set :  {2, 3}
difference of set 1 :  {1}
difference of set 2 :  {4}